* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2 {
  font-size: 30px;
}

/* Header Section */

header {
  height: 69px;
  width: 99%;
  position: fixed;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 5;
}

nav span {
  text-decoration: underline;
  padding: 0 10px;
}

 /*Footer Section */

footer {
  display: flex;
  text-align: left;
  padding-left: 20px;
}


/* Mission Section */

.main {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
}

.mission {
  width: 1200px;
  opacity: 1;
}

 /*Teas section */

 .images {
   height: 200px;
   width: 300px;
   padding: 0 10px;
 }

 .teaheading {
   width: 1000px;
 }

 .teas {
   display: inline-flex;
   flex-wrap: wrap;
   width: 1000px;
   justify-content: center;
   margin: 60px;
 }

  /*Locations Section */

.addresses {
  height: 300px;
  width: 300px;
  margin: 0 20px 0 20px;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.locationheading {
  width: 1200px;
  background: transparent;
}

.locations {
  height: 500px;
  width: 1200px;
  display: inline-flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px;
}

 /*Contact Section */
 
.contact {
  height: 200px;
}
